<div>
  <h2 id="page-heading" data-cy="MileageRequestHeading">
    <span jhiTranslate="uzLocationApp.mileageRequest.home.title">Mileage Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="uzLocationApp.mileageRequest.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mileage-request"
        [routerLink]="['/mileage-request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="uzLocationApp.mileageRequest.home.createLabel"> Create a new Mileage Request </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mileageRequests?.length === 0">
    <span jhiTranslate="uzLocationApp.mileageRequest.home.notFound">No mileageRequests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mileageRequests && mileageRequests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="uzLocationApp.mileageRequest.requestDatetime">Request Datetime</span></th>
          <th scope="col"><span jhiTranslate="uzLocationApp.mileageRequest.tankNumbers">Tank Numbers</span></th>
          <th scope="col"><span jhiTranslate="uzLocationApp.mileageRequest.mileageResponse">Mileage Response</span></th>
          <th scope="col"><span jhiTranslate="uzLocationApp.mileageRequest.tank">Tank</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mileageRequest of mileageRequests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mileage-request', mileageRequest.id, 'view']">{{ mileageRequest.id }}</a>
          </td>
          <td>{{ mileageRequest.requestDatetime | formatMediumDatetime }}</td>
          <td>{{ mileageRequest.tankNumbers }}</td>
          <td>
            <div *ngIf="mileageRequest.mileageResponse">
              <a [routerLink]="['/mileage-response', mileageRequest.mileageResponse?.id, 'view']">{{
                mileageRequest.mileageResponse?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mileageRequest.tank">
              <a [routerLink]="['/tank', mileageRequest.tank?.id, 'view']">{{ mileageRequest.tank?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mileage-request', mileageRequest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mileage-request', mileageRequest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mileageRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
